.time-container {
  height: 720px;
  width: 150px;
  float: left;
  text-align: right;
  margin-top: -7px;
}

.time-container .time-description-large {
  font-size: 0.9em;
  height: 30px;
}

.time-container .time-description-small {
  font-size: 0.7em;
  height: 30px;
}

.grid-container {
  height: 720px;
  width: 620px;
  margin: 0 10px;
  float: left;
  position: relative;
}

.grid-container .one-hour-slot {
  height: 59px;
  border: 1px solid #f0f0f0;
  border-top: 0;
}

.grid-container .one-hour-slot:first-child {
  border-top: 1px solid #f0f0f0;
}

.event {
  position: absolute;
  background-color: blue;
  height: 200px;
  width: 400px;
}